{% set step = '3' %}
{% extends 'reg_tutee/_skeleton.html' %}




{% block step_content %} 
  <div class="row">
    <div class="text-center" style="font-size: 70px; color: #3A3; padding-top: 10px">
      <span class="glyphicon glyphicon-saved"></span>
    </div>
    <div class="text-center">
      <h3>Thanks for signing up, {{username}}!</h3>
      <p>We will contact you shortly with further details.</p>
      <p>If you have any questions, please do <a href="mailto:dm1911@ic.ac.uk;jack.heaffey11@imperial.ac.uk;samuel.kong11@imperial.ac.uk">email us</a>.</p>
    </div>
  </div>
{% endblock %}
